<!--================ start footer Area  =================-->	
<footer class="footer-area p_120">
  <div class="container">
      <div class="row">
          <div class="col-lg-3  col-md-6 col-sm-6">
              <div class="single-footer-widget ab_wd">
                  <h6 class="footer_title">About Us</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="single-footer-widget contact_wd">
                  <h6 class="footer_title">Contact Us</h6>
                  <p>56/8, Santa Monica bullevard, Los angeles, california, United states of america</p>	
                  <a href="tel:01142400962">01142400962</a>			
                  <a href="tel:01142400962">01142400962</a>			
              </div>
          </div>							
          <div class="col-lg-5 col-md-6 col-sm-6 offset-lg-1">
              <div class="single-footer-widget">
                  <h6 class="footer_title">Newsletter</h6>
                  <p>You can trust us. we only send promo offers, not a single spam.</p>		
                  <div id="mc_embed_signup">
                      <form target="_blank" action="" method="get" class="subscribe_form relative">
                          <div class="input-group d-flex flex-row">
                              <input name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                              <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                          </div>									
                          <div class="mt-10 info"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <div class="row footer-bottom d-flex justify-content-between align-items-center">
          <p class="col-lg-8 col-md-8 footer-text m-0">>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <a href="https://mahmoudkhaled.neocities.org" target="_blank">MAhmoud Khaled</a>
  </p>
          <div class="col-lg-4 col-md-4 footer-social">
            <a href="https://www.facebook.com/m7mood.khaled.9"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/mahmoud__khaled9/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.instagram.com/mahmoud__khaled9/"><i class="fab fa-dribbble"></i></a>
            <a href="https://linkedin.com/in/m7mood-khaled9-8791a0163/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/mahmoudkhaled9/"><i class="fab fa-github"></i></a>
          </div>
      </div>
  </div>
</footer>
<!--================ End footer Area  =================-->