
<!--================Header Menu Area =================-->
<header class="header_area " style="margin-bottom: 10px">
  <div class="top_menu row m0">
    <div class="container">
<div class="float-left">
 <ul class="list header_social">
   <li><a href="https://www.facebook.com/m7mood.khaled.9"><i class="fab fa-facebook"></i></a></li>
   <li><a href="https://www.instagram.com/mahmoud__khaled9/"><i class="fab fa-instagram"></i></a></li>
   <li><a href="https://www.instagram.com/mahmoud__khaled9/"><i class="fab fa-dribbble"></i></a></li>
   <li><a href="https://linkedin.com/in/m7mood-khaled9-8791a0163/"><i class="fab fa-linkedin"></i></a></li>
   <li><a href="https://github.com/mahmoudkhaled9/"><i class="fab fa-github"></i></a></li>

   
 </ul>
</div>
<div class="float-right">
 <select class="lan_pack">
   <option value="1">English</option>
   <option value="1">Bangla</option>
   <option value="1">Indian</option>
   <option value="1">Aus</option>
 </select>
 <a class="dn_btn" href="#">GO!</a>
</div>
    </div>	
  </div>	
 <div class="main_menu">
   <nav class="navbar navbar-expand-lg navbar-light">
<div class="container">
 <!-- Brand and toggle get grouped for better mobile display -->
 <a class="navbar-brand logo_h" href="#"><img src="../../assets/img/logo.png" alt=""></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
 </button>
 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
   <ul class="nav navbar-nav menu_nav ml-auto">
     <li class="nav-item "><a class="nav-link" routerLink="home">Home</a></li> 
     <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li> 
     <li class="nav-item"><a class="nav-link" routerLink="servcies">Services</a>
      <li class="nav-item"><a class="nav-link" routerLink="projects">project</a>
        <li class="nav-item"><a class="nav-link" routerLink="blog">blog</a>
     <li class="nav-item"><a class="nav-link" routerLink="contact">Contact</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
     <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
   </ul>
 </div> 
</div>
   </nav>
 </div>
</header>
<!--================Header Menu Area =================-->

