<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
<div class="container">
<div class="banner_content text-center">
  <div class="page_link">
    <a style="cursor:pointer;">Home</a>
    <i class="fas fa-arrow-right"></i>
    <a style="cursor:pointer;">Projects</a>
  </div>
  <h2>Projects</h2>
</div>
</div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Services Area =================-->
<section class="services_area p_120">
<div class="container">
  <div class="main_title">
    <h2>Our Offered Services</h2>
    <p>Lorem ipsum dolor sit amet, consecteturadipis icing elit,</p>
  </div>
  <div class="row services_inner">
    <div class="col-lg-4">
      <div class="services_item">
        <img src="../../assets/img/icon/service-icon-1.png" alt="">
        <a href="#"><h4>Building Drawings</h4></a>
        <p>Lorem ipsum dolor sit amet, consecteturadipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="services_item">
        <img src="../../assets/img/icon/service-icon-2.png" alt="">
        <a href="#"><h4>Painting Constructions</h4></a>
        <p>Lorem ipsum dolor sit amet, consecteturadipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="services_item">
        <img src="../../assets/img/icon/service-icon-3.png" alt="">
        <a href="#"><h4>Repairing Constructions</h4></a>
        <p>Lorem ipsum dolor sit amet, consecteturadipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>
</section>
<!--================End Services Area =================-->

<!--================Builder Image Area =================-->
<section class="builder_area">
<div class="main_title">
  <h2>Our Latest Projects</h2>
  <p>Who are in extremely love with eco friendly system.</p>
</div>
<div class="row m0 builder_inner">
<div class="builder_item">
<img src="../../assets/img/builder/builder-1.jpg" alt="">
<div class="hover">
  <h4>Alex Complex for Residence</h4>
  <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
</div>
</div>
<div class="builder_item">
<img src="../../assets/img/builder/builder-2.jpg" alt="">
<div class="hover">
  <h4>Alex Complex for Residence</h4>
  <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
</div>
</div>
<div class="builder_item">
<img src="../../assets/img/builder/builder-3.jpg" alt="">
<div class="hover">
  <h4>Alex Complex for Residence</h4>
  <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
</div>
</div>
<div class="builder_item">
<img src="../../assets/img/builder/builder-4.jpg" alt="">
<div class="hover">
  <h4>Alex Complex for Residence</h4>
  <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
</div>
</div>
<div class="builder_item">
<img src="../../assets/img/builder/builder-5.jpg" alt="">
<div class="hover">
  <h4>Alex Complex for Residence</h4>
  <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
</div>
</div>
<div class="builder_item">
<img src="../../assets/img/builder/builder-6.jpg" alt="">
<div class="hover">
  <h4>Alex Complex for Residence</h4>
  <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
</div>
</div>
</div>
</section>
<!--================End Builder Image Area =================-->

<!--================Feature Area =================-->
<section class="feature_area p_120">
<div class="container">
  <div class="main_title">
    <h2>Some Features that Made us Unique</h2>
    <p>Who are in extremely love with eco friendly system.</p>
  </div>
  <div class="row feature_inner">
    <div class="col-lg-4 col-md-6">
      <div class="feature_item">
        <h4><i class="lnr lnr-user"></i>Expert Technicians</h4>
        <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="feature_item">
        <h4><i class="lnr lnr-license"></i>Professional Service</h4>
        <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="feature_item">
        <h4><i class="lnr lnr-phone"></i>Great Support</h4>
        <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="feature_item">
        <h4><i class="lnr lnr-rocket"></i>Technical Skills</h4>
        <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="feature_item">
        <h4><i class="lnr lnr-diamond"></i>Highly Recomended</h4>
        <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="feature_item">
        <h4><i class="lnr lnr-bubble"></i>Positive Reviews</h4>
        <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
      </div>
    </div>
  </div>
</div>
</section>
<!--================End Feature Area =================-->