

   <!--================Home Banner Area =================-->
   <section class="home_banner_area blog_banner">
    <div class="banner_inner d-flex align-items-center">
      <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
<div class="container">
  <div class="blog_b_text text-center">
    <h2>Dude You’re Getting <br /> a Telescope</h2>
    <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first</p>
    <a class="white_bg_btn" href="#">View More</a>
  </div>
</div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" *ngFor="let category of categories" (click)="changecode(category.name)">
                <div class="categories_post">
                    <img src={{category.imgurl}} alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a ><h5>{{category.name}}</h5></a>
                            <div class="border_line"></div>
                            <p>{{category.descrip}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <article class="row blog_item" (click)="artNav(i)" *ngFor="let new of dumminew|search:term; let i = index" >
                       <div class="col-md-3">
                           <div class="blog_info text-right">
                                
                                <ul class="blog_meta list">
                                    <li><a>Mark wiens<i class="lnr lnr-user"></i></a></li>
                                    <li><a>12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a>1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                    <li><a>06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                       </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="{{new.urlToImage}}" alt="">
                                <div class="blog_details">
                                    <a ><h2>{{new.title|subTitle:50}}</h2></a>
                                    <p>{{new.description}}</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    
                   
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Posts" [(ngModel)]='term'>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle img-fluid" width="150" height="100" src="../../assets/img/blog/author.jpg" alt="">
                        <h4>Mahmoud khaled</h4>
                        <p>Software engineer/web developer</p>
                        <div class="social_icon">
                            <a href="https://www.facebook.com/m7mood.khaled.9"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com/mahmoud__khaled9/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.instagram.com/mahmoud__khaled9/"><i class="fab fa-dribbble"></i></a>
                            <a href="https://linkedin.com/in/m7mood-khaled9-8791a0163/"><i class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/mahmoudkhaled9/"><i class="fab fa-github"></i></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sapien augue, dictum et gravida et,quis gravida. Nam quis purus erat.</p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Posts</h3>
                        <div class="media post_item">
                            <img src="../../assets/img/blog/popular-post/post1.jpg" alt="post">
                            <div class="media-body">
                                <a><h3>Space The Final Frontier</h3></a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="../../assets/img/blog/popular-post/post2.jpg" alt="post">
                            <div class="media-body">
                                <a ><h3>The Amazing Hubble</h3></a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="../../assets/img/blog/popular-post/post3.jpg" alt="post">
                            <div class="media-body">
                                <a ><h3>Astronomy Or Astrology</h3></a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="../../assets/img/blog/popular-post/post4.jpg" alt="post">
                            <div class="media-body">
                                <a ><h3>Asteroids telescope</h3></a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="../../assets/img/blog/add.jpg" alt=""></a>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Post Catgories</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Technology</p>
                                    <p>37</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Lifestyle</p>
                                    <p>24</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Fashion</p>
                                    <p>59</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Art</p>
                                    <p>29</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Food</p>
                                    <p>15</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Architecture</p>
                                    <p>09</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Adventure</p>
                                    <p>44</p>
                                </a>
                            </li>															
                        </ul>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>
                        <p>
                        Here, I focus on a range of items and features that we use in life without
                        giving them a second thought.
                        </p>
                        <div class="form-group d-flex flex-row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                            </div>
                            <a href="#" class="bbtns">Subcribe</a>
                        </div>	
                        <p class="text-bottom">You can unsubscribe at any time</p>	
                        <div class="br"></div>							
                    </aside>
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Architecture</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Adventure</a></li>
                        </ul>
                    </aside>
                </div>
            </div> 
        </div>
    </div>
</section>
<!--================Blog Area =================-->